body {
    height: 100%;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-style: normal;
    font-weight: 100;
}

p {
    word-wrap: break-word !important;
    font-weight: 400 !important;
    line-height: 1.2857142857142858em !important;
    color: #484848 !important;
}

.hero {
    background: linear-gradient(0deg,rgba(0,0,0,0.75),rgba(0,0,0,0.78)),url("img/background_code_5.jpg");
    background-size: cover;
    color: white;
    padding-top: 6%;
    padding-bottom: 6%;
}

#name {
    color: rgba(209, 17, 73, 1);
    font-weight: 650;
}

#work {
    color: white;
}

.sub-master {
    padding-left: 2%;
    padding-right: 2%;
}

.section {
    color: rgba(133, 133, 133, 1);
    /* color: rgba(255, 102, 102, 1); */
}

.project-info {
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
}

.main-mockup {
    padding: 0;
}


@media (max-width: 768px) {
  .project-info {
      margin-left: 20px;
      margin-right: 20px;
  }
}

hr.project-separator {
    width: 80%;
    margin-left: 10% !important;
    margin-right: 10% !important;
    /* border: 1.2px solid gray; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#swigo .app-name-title {
    /* Swigo Orange Color */
    color: rgba(241, 113, 5, 1);
}

#swigo .app-subtitle {
    /* Swigo Orange Color */
    color: rgba(241, 113, 5, 0.65);
}

#swigo .main-mockup img {
    background-color: rgba(241, 113, 5, 0.8);
}

#allo .app-name-title {
    /* Allo Purple Color */
    color: rgba(83, 182, 177, 1);
}

#allo .app-subtitle {
    /* Allo Purple Color */
    color: rgba(83, 182, 177, 0.65);
}

#allo .main-mockup img {
    background-color: rgba(83, 182, 177, 0.8);
}

#primer .app-name-title {
    /* Swigo Orange Color */
    color: rgba(253, 208, 118, 1);
}

#primer .app-subtitle {
    /* Swigo Orange Color */
    color: rgba(253, 208, 118, 0.65);
}

#primer .main-mockup img {
    background-color: rgba(253, 208, 118, 0.8);
}

[class*="col-"]:not(:last-child){
  margin-bottom: 15px;
  margin-top: 15px;
}

@media (max-width: 350px) {
    #name {
        font-size: 29px !important;
    }

    #work {
        font-size: 19px !important;
    }

    #my-image {
        height: 150px;
        width: 150px;
    }
}

/* Small devices */
@media (min-width: 350px) {
    .app-name-title {
        font-size: 50px !important;
    }

    .app-subtitle {
        font-size: 25px !important;
    }

    .app-text {
        font-size: 16px !important;
    }

    #name {
        font-size: 32px !important;
    }

    #work {
        font-size: 22px !important;
    }

    #my-image {
        height: 200px;
        width: 200px;
    }
}

/* Medium devices */
@media (min-width: 768px) {
    .app-name-title {
        font-size: 60px !important;
    }

    .app-subtitle {
        font-size: 30px !important;
    }

    .app-text {
        font-size: 18px !important;
    }

    #name {
        font-size: 42px !important;
    }

    #work {
        font-size: 32px !important;
    }
}

/* Large devices */
@media (min-width: 992px) {
    .app-name-title {
        font-size: 70px !important;
    }

    .app-subtitle {
        font-size: 35px !important;
    }

    .app-text {
        font-size: 18px !important;
    }

    #name {
        font-size: 50px !important;
    }

    #work {
        font-size: 40px !important;
    }
}
