body {
  height: 100%;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
  font-style: normal;
  font-weight: 100;
}

p {
  word-wrap: break-word !important;
  font-weight: 400 !important;
  line-height: 1.2857142857142858em !important;
  color: #484848 !important;
}

a:hover {
  color: white;
}

hr.project-separator {
  width: 80%;
  margin-left: 10% !important;
  margin-right: 10% !important;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hero {
  background-color: #fafafa;
  background-size: cover;
  background-position: left;
  color: white;
  padding-top: 6%;
  padding-bottom: 6%;
  height: 100vh;
}

.app-icon {
  margin: 20px auto;
  border-radius: 20%;
  border: 1px solid #ddd;
}

.app-store-icon {
  width: 13vw;
  min-width: 140px;
}

.social {
  margin-top: 30px;
}

.social a {
  color: #fafafa;
}

.social-media-icon {
  margin-right: 30px;
}

.fa-linkedin-in {
  color: #0073b1;
}

.fa-github {
  color: black;
}

.fa-envelope {
  color: #3a3a3a;
}

#name {
  color: #4a4a4a;
  font-weight: 650;
  margin-bottom: 0;
}

#work {
  color: #9a9a9a;
}

.sub-master {
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
}

.section {
  color: rgba(72, 72, 72, 1);
  background-color: #e8e8e8;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.project-info {
  padding: 0;
  margin-left: 50px;
  margin-right: 50px;
}

.main-mockup {
  padding: 0;
  text-align: center;
}

.mockup {
  text-align: center;
}

#evgo .app-name-title {
  color: rgba(0, 37, 50, 1);
  margin-bottom: 0;
}

#evgo .app-subtitle {
  color: rgba(0, 37, 50, 1);
}

#evgo .main-mockup {
  background-color: rgba(255, 188, 33, 1);
}

#scruff .app-name-title {
  color: rgba(25, 25, 25, 1);
  margin-bottom: 0;
}

#scruff .app-subtitle {
  color: rgba(25, 25, 25, 1);
}

#scruff .main-mockup {
  background-color: rgba(25, 25, 25, 1);
}

#zup .app-name-title {
  color: rgba(232, 101, 0, 1);
  margin-bottom: 0;
}

#zup .app-subtitle {
  color: rgba(232, 101, 0, 1);
}

#zup .main-mockup {
  background-color: rgba(232, 101, 0, 1);
}

#swigo .app-name-title {
  color: rgba(241, 113, 5, 1);
  margin-bottom: 0;
}

#swigo .app-subtitle {
  color: rgba(241, 113, 5, 0.65);
}

#swigo .main-mockup {
  background-color: rgba(241, 113, 5, 0.8);
}

#allo .app-name-title {
  color: rgba(83, 182, 177, 1);
}

#allo .app-subtitle {
  color: rgba(83, 182, 177, 0.65);
}

#allo .main-mockup {
  background-color: rgba(83, 182, 177, 0.8);
}

#primer .app-name-title {
  color: rgba(253, 208, 118, 1);
}

#primer .app-subtitle {
  color: rgba(253, 208, 118, 1);
}

#primer .main-mockup {
  background-color: rgba(253, 208, 118, 0.8);
}

[class*="col-"]:not(:last-child) {
  margin-bottom: 15px;
  margin-top: 15px;
}

@media (max-width: 350px) {
  #name {
    font-size: 39px !important;
  }

  #work {
    font-size: 29px !important;
  }

  #my-image {
    max-height: 28vh;
    max-width: 80vw;
  }

  .image-div {
    align-self: flex-end !important;
  }

  .name-div {
    align-self: flex-start !important;
  }

  .social {
    font-size: 30px;
  }

  .app-icon {
    width: 60px;
    height: 60px;
  }
}

/* Small devices */
@media (min-width: 350px) {
  .app-name-title {
    font-size: 29px !important;
  }

  .app-subtitle {
    font-size: 22px !important;
  }

  .app-text {
    font-size: 16px !important;
  }

  .section h2 {
    font-size: 40px !important;
  }

  #name {
    font-size: 42px !important;
  }

  #work {
    font-size: 32px !important;
  }

  #my-image {
    max-height: 28vh;
    max-width: 80vw;
  }

  .image-div {
    align-self: flex-end !important;
  }

  .name-div {
    align-self: flex-start !important;
  }

  .social {
    font-size: 30px;
  }

  .app-icon {
    width: 60px;
    height: 60px;
  }
}

/* Medium devices */
@media (min-width: 768px) {
  .app-name-title {
    font-size: 39px !important;
  }

  .app-subtitle {
    font-size: 28px !important;
  }

  .app-text {
    font-size: 17px !important;
  }

  .section h2 {
    font-size: 50px !important;
  }

  #name {
    font-size: 48px !important;
  }

  #work {
    font-size: 38px !important;
  }

  #my-image {
    max-height: 38vh;
    max-width: 24vw;
  }

  .image-div {
    align-self: center !important;
  }

  .name-div {
    align-self: center !important;
  }

  .social {
    font-size: 35px;
  }

  .app-icon {
    width: 80px;
    height: 80px;
  }
}

/* Large devices */
@media (min-width: 992px) {
  .app-name-title {
    font-size: 49px !important;
  }

  .app-subtitle {
    font-size: 28px !important;
  }

  .app-text {
    font-size: 18px !important;
  }

  .section h2 {
    font-size: 60px !important;
  }

  #name {
    font-size: 60px !important;
  }

  #work {
    font-size: 50px !important;
  }

  #my-image {
    max-height: 38vh;
    max-width: 30vw;
  }

  .social {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .project-info {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
}
